@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

/* 

속성 순서
1. dispaly 및 레이아웃에 관련된
2. 크기 3. 마진 패딩 4. 보더
5. 텍스트
6. 배경
7. 포지션
8. 기타등등

*/



/* COMMON - S */
a{text-decoration: none; color: inherit;}

.skip-nav {}
.skip-nav a{
    /* float , position: absolute; 을 적용하면 inline-block 처럼 변한다 */
    /* display: block; */
    width: 100%; height: 30px;
    line-height: 30px; color: #fff; text-align: center; 
    background-color: #f90;
    position: absolute; left: 0; top: -100px;
}
.skip-nav a:focus {top: 0;}

.inner {width: 1180px; margin: 0 auto;}
.hidden {
    width: 0;height: 0; overflow: hidden;
    font-size: 0; line-height: 0; text-indent: -9999px;
    position: absolute; left: -9999px;
    display: none;
}
.clearfix:after {content: ""; clear: both; display: block;}

body {font: 16px/1  'NanumSquare','돋움', dotum, AppleGothic, sans-serif; color: #555; letter-spacing: -1px;}
/* COMMON - E */


/* MAINCOMMON - S */
.sec {
    min-width: 1180px;
    padding: 80px 0;
}
.sec:after {content: ""; clear: both; display: block;}

.sec-header{
    text-align: center;
}
.sec-header .tit{
    font-weight: 800; font-size: 30px;  line-height: 50px; color: #111;
}
.sec-header .desc{
    margin-bottom: 45px;
    line-height: 30px; color: #999;
}

/* MAINCOMMON - E */


/* HEADER - S */
#header {
    /* position: fixed; 로 header 의 width 기본값이 사라졌기 때문에  width: 100%;를 보존 해 주어야 함*/
    width: 100%; 
    /* 자식이 float 되어 높이값을 지정 할 수 없기 때문에 float 해제를 애야 하는데
        3가지 방법 중 높이 값이 고정되는 height 값을 지정하는 방법 사요
    */
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    position: fixed; left: 0;top: 0; z-index: 10;
}
.logo {
    float: left;
    margin: 17px 45px 0 0;
    width: 101px; height: 37px;
}
/* height 를 주기 위해서는
1. 모든 조상에 height를 100% 지정한다.
2. position 을 지정한다. 
*/
.logo a{
    display: block;
    /* 폭은 100% 를 적용할 수 있지만, 높이는 %를 지정하 수 없어서 고정값을 지정함
    height 의 높이값을 % 로 지정하려면 1. 모든 조상 의 높이를 % 로 지정 하거나 2. position을 사용함
    */
    width: 100%; height: 37px;
    text-indent: -9999px;
    background-image: url(../img/logo.png);
}

/* GNB - S */
.gnb{
    float: left;
}
.gnb > ul {
    position: relative;
    z-index: 100;
}
.gnb .depth1 {
    float: left;
}
.gnb .depth1 > a {
    display: block;
    padding: 0 33px;
    font-weight: 700; font-size: 18px; line-height: 70px; color: #fff;
}
.gnb .depth1 .depth2 {
    display: none;
}
.gnb .depth1 .depth2 li {

}
.gnb .depth1 .depth2 a {
    color: #555;
}
.gnb .gnb-bg {
    display: none;
    width: 100%; height: 320px;
    background-color: #fff;
    position: absolute; left: 0;top: 70px; 
    /* z-index: -1; */
}

/* .gnb .depth1:hover .depth2 {
    display: block;
} */
.gnb:hover .depth1 .depth2 {
    display: block;
}
.gnb:hover .gnb-bg {
    display: block;
}

/* GNB - E */

/* TNB - S */
.tnb{
    float: right;
    font-size: 12px; line-height: 70px; color: rgba(255,255,255,0.76);
}
.tnb .tnb-menu {
    float: left;
    margin-right: 33px;
}
.tnb .tnb-menu a{}
.tnb .tnb-menu a:first-child{
    margin-right: 28px;
}
.tnb .tnb-login {
    float: left;
    margin-right: 20px;
}
.tnb .tnb-login li{
    float: left;
}
.tnb .tnb-login li:last-child{
    display: none;
}
.tnb .tnb-login a{}
.tnb .tnb-sch{
    float: left;
}
.tnb .tnb-sch p{
    width: 70px;height: 70px;
    background-color: #ee3124;
}
.tnb .tnb-sch p a{
    display: table-cell;
    width: 70px; height: 70px;
}
.tnb .tnb-sch p a span{
    display: block; 
    width: 100%;
    font-size: 37px; line-height: 70px; text-align: center;
}
.tnb .tnb-sch-wrap{
    display: none;
}
/* TNB - E */

/* HEADER - E */

/* MAIN - S */
/* VISUAL - S */
.visual {
    width: 100%; height: 860px; min-width: 1180px;
    margin:0 auto 80px auto;
    /* background: url(../img/img_visual2.jpg) no-repeat center center; */
    /* background-image: url(../img/img_visual2.jpg);
    background-repeat: no-repeat;
    background-position: center center; */
    background-color: #000;
}
.swiper-wrapper {
    height: 860px;
}
.swiper-slide {
    text-align: center;
    font-size: 100px; color: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    background-repeat: no-repeat;
    background-position: center center;
}
.visual .slide1 { background-image: url(../img/img_visual1.jpg);}
.visual .slide2 { background-image: url(../img/img_visual2.jpg);}
.visual .slide3 { background-image: url(../img/img_visual2.jpg);}

.visual .swiper-button-wrap{
    width: 1180px; height: 860px;
    margin-left: -590px;
    position: absolute; left: 50%;top: 0;
}
/* .visual .swiper-button-next {
    color: #fff;
}
.visual .swiper-button-next::after {
    font-size: 100px;
} */

/* VISUAL - E */

/* PRODUCT - S */
.product{}
.product-wrap {
    /* 블럭은 w값을 안 주면 100%가 아니라 그냥 부모한테 꽉참 */
    /* w값을 100%로 주고 패딩 먹이면 더늘어남 */
    /* width: 100%; */
    padding: 0 100px; 
}
.product-list{
    float: left;
    width: 227px; height: 205px;
    padding-top: 270px;
    background-repeat: no-repeat;
    background-position: 0 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    overflow: hidden;
}
/* +는 동생이라는 뜻 첫동생 한놈에게 24px 주라고 하면 막내한테는 첫동생 없어서 끝남 */
.product-list + .product-list {
    margin-left: 24px;
}
.product-list:nth-child(1) {
    background-image: url(../img/img_product_about.jpg);
}
.product-list:nth-child(2) {
    background-image: url(../img/img_product_bakery.jpg);
}
.product-list:nth-child(3) {
    background-image: url(../img/img_product_global.jpg);
}
.product-list:nth-child(4) {
    background-image: url(../img/img_product_pb.jpg);
}

.product-box{
    height: 180px;
    padding-top: 25px;
    position: relative;
}
.product-box .product-box-tit{
    text-align: center; line-height: 35px; color: #333; font-weight: 800; font-size: 22px;
    margin-bottom: 8px;
}
.product-box .product-box-wrap{
    width: 454px; height: 145px;
    position: absolute; left: 0; top: 60px;
    transition: all 0.3s;
    /* 
    position - 모든 속성을 다 이긴다.
    1. 겹칠때 
    2. 역순일때
    3. 명시적( top, right, bottom, left)으로 이동할때 (인터렉션)
    4. !!배치할 때는 극단적으로 사용 안 함!!
    */
}

.product-box .product-box-wrap > div {
    float: left;
    width: 227px;
}
.product-box .product-box-icon {
    /* 가상의 박스 before, after */
    height: 129px;
    padding-top: 16px;
    text-indent: -9999px; /* 첫줄에만 적용된다 */
}
.product-box .product-box-icon:before {
    content: "";
    display: block;
    width: 71px; height: 59px;
    margin: 0 auto 25px auto;
    background: url(../img/icon_product.png) no-repeat 0 0;
}
.product-list:nth-child(1) .product-box-icon:before {
    width: 71px;
}
.product-list:nth-child(2) .product-box-icon:before {
    width: 46px;
    background-position: -76px 0;
}
.product-list:nth-child(3) .product-box-icon:before {
    width: 59px;
    background-position: -127px 0;
}
.product-list:nth-child(4) .product-box-icon:before {
    width: 60px;
    background-position: -191px 0;
}

.product-box .product-box-icon span {
    display: block;
    height: 0;
}
.product-box .product-box-icon:after {
    content: "";
    display: block;
    width: 33px; height: 1px;
    margin: 0 auto;
    background-color: #949494;
}
.product-box .product-box-contents{
    /* 1디스플레이(배치)  2패딩(크기) 3백그라운드관련 4기타단독들 */
    height: 137px;
    padding-top: 8px;
    text-align: center;
    position: relative;
}
.product-box .product-box-contents p{
    padding: 0 30px; margin-bottom: 27px;
    font-size: 16px; line-height: 24px; color: #555;
}
.product-box .product-box-contents a{
    font-size: 14px; color: #777; line-height: 27px;
}
.product-box .product-box-contents::after { content: "";
    width: 100%; height: 6px;
    background-color: #ee3124;
    position: absolute; left: 0; bottom: 0;
}
.product-list:hover .product-box-wrap {left: -227px;}

/* PRODUCT - E */

/*  INFRA -S */

.infra {
    background: url(../img/bg_product.jpg) no-repeat center bottom;
}
.infra-wrap {}
.infra-list {
    float: left;
    width: 388px; height: 388px;
    background-color: #000;
    position: relative;
}
.infra-list + .infra-list {margin-left: 8px;}
.infra-box {
    width: 388px;
    position: absolute; left: 0; top: 60px; z-index: 10;
    color: #fff; text-align: center;
    transition: all .3s;
}
.infra-box .infra-box-tit {
    /* 텍스트 얼라인은 자식에게 명령하는 건데 포지션을 주는 순간 인라인 블럭이 되어서
    자식만큼 부모의 크기가 작아진다. 그래서 중앙 정렬이 안먹었던 거임... 그래서
    w를 줘야 함 */
    width: 100%;
    font-weight: 800; font-size: 30px; line-height: 45px;
    position: absolute; left: 0; top: 112px;
}
.infra-box .infra-box-wrap {
    opacity: 0;
    padding-top: 50px;
    transition: all .3s;
}
.infra-box .infra-box-wrap::before {content: "";
    display: block;
    margin: 0 auto 68px auto; 
    height: 52px;
    background: url(../img/icon_infra.png);
}
.infra-list:nth-child(1) .infra-box-wrap::before {
    width: 60px;
    background-position: -150px 0;
}
.infra-list:nth-child(2) .infra-box-wrap::before {
    width: 36px;
    background-position: -88px 0;
}
.infra-list:nth-child(3) .infra-box-wrap::before {
    width: 32px;
    background-position: -16px 0;
}
.infra-box .infra-box-txt {
    width: 220px;
    margin: 0 auto 32px auto;
    line-height: 24px;
}
.infra-box .infra-box-more {
    display: block;
    margin: 0 auto;
    width: 118px; height: 38px;
    border: 1px solid #fff;
    font-size: 14px; line-height: 38px;
    transition: all .3s;
}
.infra-img {
    /* 트랜지션 먹이면 포지션 준것처럼 위로 올라간다 */
    transition: all .3s;
}
.infra-img img {}

.infra-list:hover .infra-box {
    top: 0;
}
.infra-list:hover .infra-img {
    opacity: 0.5;
}
.infra-list:hover .infra-box-wrap {opacity: 1;}
.infra-box .infra-box-more:hover {
    color: #000;
    background-color: #fff;
}

/*  INFRA -E */

/* CHEF -S */

.chef {}
.chef-wrap {}
.chef-list {}
.chef-box {}
.chef-box .chef-box-tit {}
.chef-box .chef-box-menu {}
.chef-btn {}
.chef-btn .chef-btn-wrap {}
.chef-btn .chef-btn-recipe {}
.chef-btn .chef-btn-box a {}
.chef-btn .chef-btn-img {}
.chef-btn .chef-btn-img img {}

/* CHEF -E */



/* MAIN - E */



